<!DOCTYPE html>
    
    <%- include('../partials/head'); %>

    <body class="container">
        
        <%- include('../partials/header'); %>

        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Ou, eu sou o Luigi Belanda, tenho 17 anos, estudante de programação e muito mais</p>
            </div>
        </main>

        <%- include('../partials/footer'); %>

    </body>
</html>